.sliderArrows {
  background: #bad982;
  width: 30px;
  height: 30px;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sliderComp {
  position: relative;
}

.nextArrow {
  position: absolute;
  top: calc(40% + 100% / 2);
  left: 13.5%;
}

.prevArrow {
  position: absolute;
  top: calc(40% + 100% / 2);
  left: 10%;
}

.copy {
  position: absolute;
  width: 522px;
  height: 480px;
  left: 5%;
  top: 164px;
  font-family: Verlag;
  font-style: normal;
  font-weight: 900;
  font-size: 58px;
  line-height: 96px;
  letter-spacing: -1.09375px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.sliderMobileButton {
  display: none;
}

@media screen and (max-width: 1023px) {
  .nextArrow {
    left: 14.5%;
  }

  .copy {
    width: 344px;
    height: 215px;
    top: 112px;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: -0.5625px;
  }

  .sliderMobileButton {
    display: block;
    position: absolute;
    height: auto;
    left: 5%;
    bottom: 53.74%;
    background: #bad982;
    padding: 10px;
  }
}

@media screen and (max-width: 47.938em) {
  .nextArrow {
    left: 18.5%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1126px) {
  .copy {
    width: 475px;
    left: 4%;
    top: 175px;
    font-size: 50px;
  }
}
