.globalHeader {
  width: 100%;
  height: 90px;
  display: flex;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
  align-items: center;
  z-index: 999;
  position: absolute;
}

.topHeader {
  position: absolute;
  width: 100%;
  left: calc(50% - 100% / 2);
  top: 0%;
  bottom: 80%;
  background: rgba(186, 217, 130, 0.7);
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

.logo img {
  height: auto;
  position: absolute;
  width: 224px;
}

.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  color: black;
  font-size: 12px;
  margin-right: 60px;
}

.menuItem {
  text-transform: uppercase;
  cursor: pointer;
  padding-right: 30px;
  padding-top: 5px;
}

.menuItem a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menuIcon {
  padding-right: 5px;
}

.menuText {
  display: block;
}

@media screen and (max-width: 1023px) {
  .globalHeader {
    height: 40px;
  }

  .logo {
    margin-left: 10px;
  }

  .logo img {
    height: auto;
    width: 121px;
  }

  .menu {
    margin-right: 10px;
  }

  .menuText {
    display: none;
  }
}
