.formElementWrapper {
  margin-bottom: 5px;
}

.formElement {
  background: linear-gradient(
      0deg,
      rgba(187, 189, 183, 0.1),
      rgba(187, 189, 183, 0.1)
    ),
    #ffffff;
  border: 0.5px solid #0b2846;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  padding: 1em 2em 1em 1em;
}

.selectContainer {
  position: relative;
  display: inline;
}

.selectContainer:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  pointer-events: none;
}

.selectContainer:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 0.35em;
  right: 0.75em;
  border-top: 8px solid black;
  opacity: 0.5;
}

.checkboxElement {
  margin-top: 10px;
  margin-bottom: 10px;
}

.errorCopy {
  color: red;
}

.formElement + .errorCopy {
  margin-top: 5px;
}
