.card {
  position: absolute;
  width: 520px;
  left: 54%;
  top: 256px;
  background: #ffffff;
  border-radius: 4px;
  padding: 30px;
  z-index: 1000;
}

.buttonWrapper {
  display: flex;
}

.submitButton,
.resetButton {
  color: black;
  width: 50%;
  padding: 10px;
  cursor: pointer;
}

.submitButton {
  background: #bad982;
}

.submitButton:disabled {
  background: rgba(186, 217, 130, 0.6);
  cursor: initial;
  color: rgba(0, 0, 0, 0.6);
}

.resetButton {
  background: #35abd1;
}

.submitButton + .resetButton {
  margin-left: 10px;
}

.errorCopy {
  color: red;
  margin: 10px 0;
  text-align: center;
}

.feedback {
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .card {
    width: 100%;
    position: static;
    background-color: #e5e5e5;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1126px) {
  .card {
    width: 470px;
    left: 50%;
  }
}
